{%load static%}

<!DOCTYPE html>
<html lang="pt-br"></html>
    <head>
        
        <meta charset="UTF-8">
        <link rel ="stylesheet" href = "{% static 'css/styleboard.css'%}">
    </head>
    <body>
        <a id="sair" href="/">OnlyChess</a>
        <h1>PÁGINA COM OS HISTÓRICOS DE PARTIDA</h1>
        {%for partida in partidas%}
            {%for jogo in partida%}
                <script  class='singleGame' type='application/json'>
                {{jogo.user1}},{{jogo.user2}},{{jogo.timer1}},{{jogo.timer2}}{{jogo.history}}{{jogo.RoomName}}
                </script>   
            {%endfor%}
        {%endfor%}
        <div class="upperdiv">
            <div class="letters"></div>
            <div class="numbers"></div>      
        </div>
        <div class="board"></div>
        <div class="buttons">
            <button class="retrocesso"><<<<</button>
            <button class="pogresso">>>>></button>
        </div>
        <script src='{%static 'js/board.js'%}'></script>
        <script src='{%static 'js/historico.js'%}'></script>
    </body>
</html>




{{ room_name|json_script:"room-name" }}
