{%load static%}

<!DOCTYPE html>
<html lang="pt-br"></html>
    <head>
        
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        
    </head>
    <body>

        <h1>PÁGINA COM OS HISTÓRICOS DE PARTIDA</h1>
        {%for partida in partidas%}
            {%for jogo in partida%}
                <script  class='singleGame' type='application/json'>
                {{jogo.user1}},{{jogo.user2}},{{jogo.timer1}},{{jogo.timer2}}{{jogo.history}}{{jogo.RoomName}}
                </script>   
            {%endfor%}
        {%endfor%}
    
        <script src='{%static 'js/historico.js'%}'></script>
    </body>
</html>




{{ room_name|json_script:"room-name" }}
