{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel ="stylesheet" href = "{% static 'css/style.css'%}">
    </head>
    <body>
            

                  
        <header>
            <div class="nav">
                <a class="title" href="/">OnlyChess</a>
                {% if user.is_authenticated %}
                <a class='tap' href="/perfil">Perfil</a>
                <a class="tap" aria-current="page" href="webscoket">Criar Sala / Entrar Sala</a>
                <a class="tap" id="deslogar" href="http://127.0.0.1:8000/accounts/logout/">Deslogar</a>
            </div>

            {% else %}
            {% endif %}
        </header>
        {% if user.is_authenticated %} 
        {% else %}
            <div class="container_off">
                <h1 class="off">Você está desconectado</h1>
                <a class="entrar" href="{% url 'account_login' %}">Entrar</a>
                <p id="msg">Não tem uma conta ainda?</p>
                <a class="cadastro" href="{% url 'account_signup'%}">Cadastre-se</a>
                
            </div>
   
        {% endif %}


    </body>

</html>