{% load static%}
<! –
    Html de testes, vai ser implementado na sala.html
–>
<!DOCTYPE html>
<html lan="pt-br">
    <head>
        <meta charset="UTF-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <link rel ="stylesheet" href = "{% static 'css/styleboard.css'%}">
        <title>Chess Board Design</title> 
    </head>
    <body>
        <div class="upperdiv">
            <div class="letters"></div>
            <div class="numbers"></div>
        </div>
        <div class="board"></div>
        <script src="{% static 'js/board.js'%}"></script>
    </body>
</html>