{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    
    
</head>
<body>
    <p> Barra de navegação</p>


  <style>
    .linha{
      display: flex;
      flex-flow: row wrap;
      /* padding:10px; */
    }

  .coluna-50 {
    width: 50%;
  }

  .coluna-33 {
     width: 33%;
  }

  .coluna-20 {
     width: 20%;
  }
  </style>
    
<!-- 
  <div class="linha">
    <div class="coluna-50" style="background-color: gray"> <button>Home</button></div>
    <div class="coluna-50" style="background-color: gray">Conteúdo B</div>
    <div class="linha">
      <div class="linha" style="background-color: gray">Conteúdo A</div>
      <div class="coluna-33" style="background-color: gray">Conteúdo B</div>
      <div class="coluna-33" style="background-color: gray">Conteúdo C</div>
    </div>
   </div>
     -->
    

    <div class="linha">
      <div class="coluna-20" style="background-color: rgb(107, 107, 107);"><button>Home</button></div>
      <div class="coluna-20" style="background-color: rgb(107, 107, 107);"><button>Logout</button> </div>
      

       <div class="linha">
          <div class ="coluna-20" style="background-color: rgb(107, 107, 107);"><button>teste</button> </div>
       </div>

       


    </div>  

    <div class="linha">
      <div class ="coluna-20" style="background-color: rgb(107, 107, 107);"><button>teste</button> </div>
   </div>




       
    <p> Rodapé da página</p>
</body>
</html>