{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    
    
</head>
<body bg-color:#00008B;>
    <p> Barra de navegação</p>

    


       
    <p> Rodapé da página</p>
</body>
</html>