{% extends "base.html" %}

{% block topo %}
    <style>
    .topo {
          width: 100%;
          height: 10%;
          background-color: chartreuse;
          color: crimson;
          text-align: center;          
        }
    </style>
    <h1 class=topo> Usuário1 vs Usuário2 </h1>
{% endblock %}

{% block relogio %}
Relógio
{% endblock %}

{% block barralateral %}
    <ul style="color: black;">
        <h1>Info Sala</h1>
        <h2>Partida com tempo de 3 minutos para cada jogador</h2>
    </ul>
{% endblock %}
