*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: radial-gradient(#837979, #135e52bd);
    margin: 0 auto;
}
.upperdiv
{
    position: absolute;
    top:47%;
    left:51%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 75%;
    font-size: 1.5rem;
}

.board
{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-auto-rows: 12.5%;
    grid-auto-columns: 12.5%;
    top: 47%;
    left:49%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    height: 65%;
    width: 36%;
    
}

.square {
    float:left;
    height: 100%;
    width: 100%;
}

.black
{
    background: rgb(75, 69, 61);
}

.white
{
    background: white;
}

.numbers
{
    height: 96%;
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: 0;
    top: 0;
    text-align: center;
}   
/* quadrados que a peça pode se mover */
.selectedSquare{
    background: #f5d074 !important;
}
/* peça selecionada */
.selected{
    background: #E5BE5A !important ;
}
.letters
{
    position: absolute;
    width: 90%;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li {
    list-style: none;
}
.aviso{
    position: absolute;
    top: 3vh;
    left: 6vw;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

.user1{
    position: absolute;
    font-size: xx-large;
    left: 31%;
    top: 8%;
    font-family: sans-serif;
    margin-bottom: 0.5%;
}
.user2{
    position: absolute;
    font-size: xx-large;
    left: 31%;
    top: 86%;
    font-family: sans-serif;
}
.chat{
    float:right;
    margin-top: 10%;
    margin-right: 6%;
    width: 20vw;
    height: 50vh;
}

#chat-log{
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, rgba(68, 70, 71, 0.76), rgb(118, 126, 126) 1%, rgba(68, 70, 71, 0.658));
    border: solid black 2.5px;
}

#chat-message-input{
    width: 100%;
}
@media only screen and (max-width: 768px) {
    body{
        min-height: 100vh;
        background: radial-gradient(#837979, #413f46bd);
        margin: 0 auto;
    }
    .aviso{
        position: absolute;
        top: 2vh;
        left: 2vw;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
    }
    .upperdiv{
    position: absolute;
    top:47%;
    left:51%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 75vh;
    font-size: 1.5rem;
}
    .board{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-auto-rows: 12.5%;
    grid-auto-columns: 12.5%;
    top: 47%;
    left:49%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    height: 70vh;
    width: 70vw;   
}
    .chat{
        position: relative;
        top: 85vh;
        margin-top: 10vh;
        width: 80vw;
        height: 30vh;
    }
  }