body {
    margin:0;
    background-color: rgba(0, 0, 0, 0.76);
}
.nav{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12%;
    width: 100%;
    background: rgb(29, 28, 27);
    border-bottom:4px solid rgb(20, 20, 20);
}

.tap {
    padding-inline: 10px;
    height: 35%;
    font-size: 2em;
    text-decoration: none;
    color: rgb(142, 189, 49);
    background-color: rgba(68, 70, 71, 0.658);
    bottom: 0;
}
#deslogar{
    color: rgb(184, 0, 0);
}
.container_off {
    margin-top: 5%;
    font-size: 350%;
    text-align: center;
}
.off {
    position: relative;
    margin-top: 6.5%;
    font-size: 2em;
    color: #d8d8d8;
}
.entrar {
    font-size: 1.5em;
    text-decoration: none;
    color: rgb(9, 214, 118);
}
.title {
    font-size: 3em;
    font-family: sans-serif;
    text-decoration: none;
    background: #121FCF;
    background: -webkit-linear-gradient(to top left, #121FCF 0%, #47B6FF 28%, #BB00FF 58%, #FF05D5 72%, #CF1512 100%);
    background: -moz-linear-gradient(to top left, #121FCF 0%, #47B6FF 28%, #BB00FF 58%, #FF05D5 72%, #CF1512 100%);
    background: linear-gradient(to top left, #121FCF 0%, #47B6FF 28%, #BB00FF 58%, #FF05D5 72%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sair {
    text-decoration: none;
    margin-left: 70%;
    padding-top: 1px;
    color:black;
    font-size:200%
}
#msg {
    font-size: 1em;
    margin-bottom: 0%;
    color: #B2B1B0;
}
.cadastro {
    font-size: 1.1em;
    color: rgba(9, 255, 30, 0.596);   
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 10px;
    font-size: 2.5em;
}

#historico{
    text-decoration: none;
    padding: 5px;
    color:black;
    background: rgba(31, 24, 39, 0.548);
    border: solid rgb(26, 0, 8) 4px;
}