*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(120deg, rgba(61, 74, 80, 0.76), rgb(86, 105, 105) 1%, rgba(64, 75, 67, 0.877));
    margin: 0 auto;
}
.upperdiv
{
    position: absolute;
    top:49%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 75%;
    font-size: 1.5rem;
}

.board
{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-auto-rows: 12.5%;
    grid-auto-columns: 12.5%;
    top: 49%;
    left:49%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    height: 68%;
    width: 38%;
    
}
.termino{
    position: absolute;
    visibility: hidden;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    top: 32%;
    left: 38%;
    width: 22%;
    height: 32%;
    background-color: whitesmoke;
}
.versus{
    background-color:rgb(117, 92, 83);
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-family: sans-serif;
    align-items: center;
}
.display{
    z-index: calc(1);
    visibility: visible;
}
#mensagem{
    background-color: whitesmoke;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-family: sans-serif;
    align-items: center;
    color:rgb(173, 9, 9);
}
#sair{
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 3em;
    font-family: sans-serif;
    text-decoration: none;
    background: #121FCF;
    background: -webkit-linear-gradient(to top left, #121FCF 0%, #47B6FF 28%, #BB00FF 58%, #FF05D5 72%, #CF1512 100%);
    background: -moz-linear-gradient(to top left, #121FCF 0%, #47B6FF 28%, #BB00FF 58%, #FF05D5 72%, #CF1512 100%);
    background: linear-gradient(to top left, #121FCF 0%, #47B6FF 28%, #BB00FF 58%, #FF05D5 72%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.aviso{
    position: absolute;
    top: 3%;
    left: 25%;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
.square {
    float:left;
    height: 100%;
    width: 100%;
}

.black
{
    background: rgb(75, 69, 61);
}

.white
{
    background: white;
}

.numbers
{
    height: 96%;
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: 0;
    top: 0;
    text-align: center;
}   
/* quadrados que a peça pode se mover */
.selectedSquare{
    background: #f5d074 !important;
}
/* peça selecionada */
.selected{
    background: #E5BE5A !important ;
}
.letters
{
    position: absolute;
    width: 90%;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li {
    list-style: none;
}

.user1{
    position: absolute;
    font-size: xx-large;
    left: 31%;
    top: 9%;
    font-family: sans-serif;
    margin-bottom: 0.5%;
}
.user2{
    position: absolute;
    font-size: xx-large;
    left: 31%;
    top: 88%;
    font-family: sans-serif;
}
.chat{
    float:right;
    margin-top: 10%;
    margin-right: 6%;
    width: 20vw;
    height: 50vh;
}

#chat-log{
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, rgb(23, 24, 24), rgb(32, 32, 32) 1%,rgb(48, 49, 49));
    color: #B2B1B0;
    border: solid black 2.5px;
}

#chat-message-input{
    width: 100%;
}
.timer1{
    position: absolute;
    top: 8%;
    left: 63%;
    font-size: xx-large;
    background-color: rgba(68, 70, 71, 0.658);
    border: solid;
    border-color: rgb(43, 41, 41);
    padding-left: 1vw;
    padding-right: 1vw;
}
.timer2{
    position: absolute;
    top: 88%;
    left: 63%;
    font-size: xx-large;
    background-color: rgba(68, 70, 71, 0.658);
    border: solid;
    border-color: rgb(43, 41, 41);
    padding-left: 1vw;
    padding-right: 1vw;
}
@media only screen and (max-width: 1080px) {
    .upperdiv
    {
        position: absolute;
        top:49%;
        left:47%;
        transform: translate(-50%, -50%);
        width: 72%;
        height: 75%;
        font-size: 1.5rem;
    }
    
    .board
    {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-auto-rows: 12.5%;
        grid-auto-columns: 12.5%;
        top: 49%;
        left:43%;
        transform: translate(-50%, -50%);
        border: 5px solid black;
        height: 68%;
        width: 56%;
        
    }
    .numbers
    {
        height: 96%;
        width: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        left: 0;
        top: 0;
        text-align: center;
    }   
    .letters
    {
        position: absolute;
        width: 89%;
        bottom: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    li {
        list-style: none;
    }
    .termino{
        position: absolute;
        visibility: hidden;
        display: grid;
        grid-template-rows: repeat(2,1fr);
        top: 36%;
        left: 30%;
        width: 22%;
        height: 26%;
        background-color: whitesmoke;
    }
    #sair{
        font-size: 2em;
    }
    .display{
        z-index: calc(1);
        visibility: visible;
    }
    .aviso{
        position: absolute;
        top: 3%;
        left: 24%;
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .user1{
        position: absolute;
        font-size: xx-large;
        left: 15%;
        top: 9%;
        font-family: sans-serif;
        margin-bottom: 0.5%;
    }
    .user2{
        position: absolute;
        font-size: xx-large;
        left: 15%;
        top: 88%;
        font-family: sans-serif;
    }
    .chat{
        position: absolute;
        top: 15%;
        left: 78%;
        width: 21%;
        height: 50%;
    }
    
    #chat-log{
        width: 100%;
        height: 100%;
        background: linear-gradient(120deg, rgb(23, 24, 24), rgb(32, 32, 32) 1%,rgb(48, 49, 49));
        border: solid black 2.5px;
    }
    
    #chat-message-input{
        width: 100%;
    }
    .timer1{
        position: absolute;
        top: 8%;
        left: 63%;
        font-size: xx-large;
        background-color: rgba(68, 70, 71, 0.658);
        border: solid;
        border-color: rgb(43, 41, 41);
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .timer2{
        position: absolute;
        top: 88%;
        left: 63%;
        font-size: xx-large;
        background-color: rgba(68, 70, 71, 0.658);
        border: solid;
        border-color: rgb(43, 41, 41);
        padding-left: 1vw;
        padding-right: 1vw;
    }

}
@media only screen and (max-width: 768px) {
    body{
        min-height: 100vh;
        background: radial-gradient(#837979, #272629ce);
        margin: 0 auto;
    }
    .aviso{
        position: absolute;
        top: 2vh;
        left: 2vw;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
    }
    .timer1{
        position: absolute;
        top: 3%;
        left: 72vw;
        font-size: xx-large;
        background-color: rgba(68, 70, 71, 0.658);
        border: solid;
        border-color: rgb(43, 41, 41);
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .timer2{
        left: 72vw;
    }
    .termino{
        left: 12vw;
    }
    .aviso{
        left: 2%;
        top: 6%;
    }
    #sair{
        font-size: 1.2em;
    }
    .display{
        z-index: calc(1);
        visibility: visible;
    }
    .user1{
        position: absolute;
        font-size: x-large;
        left: 15%;
        top: 6%;
        font-family: sans-serif;
        margin-bottom: 0.5%;
    }
    .user2{
        position: absolute;
        font-size: x-large;
        left: 15%;
        top: 88%;
        font-family: sans-serif;
    }
    .upperdiv{
    position: absolute;
    top:48%;
    left:51%;
    transform: translate(-50%, -50%);
    width: 82vw;
    height: 78%;
    font-size: 1.5rem;
    }
    .board{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-auto-rows: 12.5%;
    grid-auto-columns: 12.5%;
    top: 47%;
    left:49%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    height: 70vh;
    width: 70vw;   
    }
    .numbers
    {
        font-size: 0.9em;
    }   
    .letters
    {
        width: 92.5%;
        font-size: 1em;
    }
    .chat{
        position: absolute;
        top: 85vh;
        left: 2vw;
        margin-top: 12.5vh;
        width: 85vw;
        height: 25vh;
    }
  }