body{
min-height: 100vh;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
background-color: rgba(34, 40, 41, 0.76);
}
strong{
    font-size: 2em;
}
#room-name-submit{
    font-size: 1.2em;
    width: 10%;
}
.title {
    position: absolute;
    top: 3%;
    left: 4%;
    font-size: 3em;
    font-family: sans-serif;
    text-decoration: none;
    background: #00CF07;
    background: -webkit-linear-gradient(to top right, #00CF07 0%, #0DFFDF 40%, #00BACF 52%, #00D5FF 62%, #0083CF 75%);
    background: -moz-linear-gradient(to top right, #00CF07 0%, #0DFFDF 40%, #00BACF 52%, #00D5FF 62%, #0083CF 75%);
    background: linear-gradient(to top right, #00CF07 0%, #0DFFDF 40%, #00BACF 52%, #00D5FF 62%, #0083CF 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}